# Ignore everything so we can just have a whitelist of things to copy
**/*
# allow all the directories with source needed to build
!accumulo-handler
!beeline
!bin
!binary-package-licenses
!checkstyle
!cli
!common
!conf
!contrib
!data
!dev-support
!docs
!druid-handler
!files
!findbugs
!hbase-handler
!hcatalog
!hive-blobstore
!hplsql
!itests
!jdbc-handler
!jdbc
!lib
!llap-client
!llap-common
!llap-ext-client
!llap-server
!llap-tez
!metastore
!packaging
!ql
!serde
!service-rpc
!service
!shims
!spark-client
!storage-api
!testutils
!vector-code-gen
# Copy the root pom.xml
!pom.xml
# copy the .git directory as a few maven plugins use it
!.git
# ignore anything inside a target directory, as that is the output of a maven
# build and we want a fresh environment
**/target/*
